body{
    font-family: Jazz LET, fantasy;
}

.logo{
    /* background-image: url('../img/logocam.png');*/
    font-size : 16px;
    color: white;
    width: 73vw;
} 

.menuprincipal img{
    width: 7%;
    height: 1vw;
    margin-top: 1vh;
    margin-left: 4vw;
}

.menuprincipal .submenu{
    background-color: #4286f4;
}

.menuprincipal a {
    margin-left: 6vw;
}

.submenu li:hover a{
    font-weight: bold;
    color: #4286f4;
}

.menuprincipal .submenu li:hover{
    background-color: white;   
}



.submenu{
    display: none;
    color:white;
}


nav li .submenu{
    color:white;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 1000;
}



.submenu li{
    /* border-bottom: 1px solid grey; */
}

.submenu li a {
    padding: 15px 30px;
    font-size: 13px;
    color: white;
    width: 270px;
 
}

nav{
    width: 100vw;
    background-color:#4286f4;
    padding-left: 4%;
    border-bottom: 1px solid gold;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav ul::after{
    content: "";
    display: block;
    clear: both;
}

nav ul li{
    float: left;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;
}

nav ul li a{
    padding: 20px 30px;
    color: #FFF;
}

nav li{
    list-style-type: none;
    width: 19vw;
}



nav a{
    display: inline-block;
    text-decoration: none;
}





body{
    margin: 0px;
    padding: 0px;
    background-color: grey;
}
